<!-- main app container -->
<div class="card m-3">
    <h5 class="card-header">Urban Insight Course signup</h5>
    
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">           
            <div class="form-group">
                <div class="form-group col-5">
                    <label>Username</label>
                    <input type="text" formControlName="username" class="form-control" [pattern]="unamePattern" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required and must be at least 8 chars long</div>
                        <div *ngIf="f.username.errors?.pattern">Username must contain alphanumeric only and at least 8 chars long</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Choose a Subject</label>
                    <select formControlName="subject" class="form-control" (change)='onOptionsSubjectSelected($event)' [ngClass]="{ 'is-invalid': submitted && f.subject.errors }">
                        <option value="">Choose a Subject</option>
                        <option value="Math">Math</option>
                        <option value="Science">Science</option>
                        <option value="Art">Art</option>
                        <option value="Language Arts">Language Arts</option>
                    </select>
                    <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                        <div *ngIf="f.subject.errors.required">Subject is required</div>
                    </div>
                </div>
                <!--Topic-->
                <div *ngIf="subjectSelected" class="form-group col">
                    <label>Choose a Topic</label>
                    <select formControlName="topic" class="form-control" (change)='onOptionsTopicSelected($event)' [ngClass]="{ 'is-invalid': submitted && f.topic.errors }">                        
                        <option *ngFor='let topic of topics' 
                        [value]="topic">{{topic}}</option>                        
                    </select>
                    <div *ngIf="submitted && f.topic.errors" class="invalid-feedback">
                        <div *ngIf="f.topic.errors.required">Topic is required</div>
                    </div>
                </div>
                <!--Timeslot-->
                <div *ngIf="topicSelected" class="form-group col">
                    <label>Choose a Timeslot</label>
                    <select formControlName="time" class="form-control" (change)='onOptionsTimeSelected($event)' [ngClass]="{ 'is-invalid': submitted && f.time.errors }">                        
                        <option *ngFor='let time of timeslots' 
                        [value]="time">{{time}}</option>                        
                    </select>
                    <div *ngIf="submitted && f.time.errors" class="invalid-feedback">
                        <div *ngIf="f.time.errors.required">Timeslot is required</div>
                    </div>
                </div>
            </div>
            <!-- <div class="form-group form-check">
                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
            </div> -->
            <div class="text-center">
                <button class="btn btn-primary mr-1" [disabled]="allcheck">Submit</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>

        <hr>
        <hr>
        <div class="card m-3">
            <h5 class="card-header">All registered courses</h5>
            <div> <label>Student ID: </label>{{id}}</div>
            <div> <label>Student Username: </label>{{user}}</div>
            <div> <label>Student email: </label>{{user_email}}</div>
            
            <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr class="toolbar">
                    <td>Subject</td>
                    <td>Topic</td>
                    <td>Time</td>
                    
                </tr>
                </thead>
              
                <tbody>
                    <tr *ngFor="let data of course">
                        <td>{{ data.subject }}</td>
                        <td>{{ data.topic }}</td>
                        <td>{{ data.time }}</td>                        
                    </tr>
                </tbody>
              </table>
        </div>        
    
    </div>
</div>